* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    font-size: 0.46em;
    background: linear-gradient(white, rgb(138, 138, 250) 60%);
    border-bottom: 2px solid rgb(112, 112, 112);
    padding-left: 3em;
}

header > h1 {
    font-weight: 100;
    line-height: 1.5em;
    display: flex;
    gap: 5px;
    align-items: center;
}

header > h1::before {
    background-image: url(./assets/img/pngwing.com.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    content:"";
}

#main-wrapper {
    display: flex;
    flex: 1;
}

#sidebar {
    background:
      linear-gradient(
        to bottom,
        rgb(255, 136, 202),
        rgb(248, 101, 182));
    min-width: 350px;
    height: 100%;
    border-width: 5px;
    border-style: solid;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(255, 210, 241), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    
    padding: 10px;
}

#lists-list-container {
    background-color: white;
    border-radius: 8px 8px 0 0;
    color: black;
}

#lists-list-container > h2{
    background: linear-gradient(to right, rgb(255, 2, 107), rgb(255, 71, 148));
    color: white;
    font-weight: 600;
    font-size: 0.8em;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
}

#lists-list {
    padding: 2px 2px;
}

.list-branch {
    list-style: none;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.list-branch:hover {
    background-color: rgb(100, 100, 250);
    color: white;
}

dialog {
    width: 500px;
    position: relative;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 218, 236);
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

label {
    font-size: 0.8rem;
}

input,
select {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    padding-left: 3px;
    height: 20px;
    background-color: white;
    border: 1px solid rgb(39, 107, 255);
    margin-bottom: 20px;
}

input:focus,
select:focus {
    outline: none;
}

#add-list {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to bottom, rgb(49, 253, 117), rgb(9, 233, 9));
    color: rgb(3, 88, 32);
    padding: 4px 7px;
    font-size: 0.8rem;
    font-weight: 800;
    text-align: right;
    cursor: pointer;
}

#add-list::before {
    content: "+ ";
    font-size: 1.2rem;
}